{% extends "base.html.twig" %}

{% block body %}
	<header class="ribs-container-fluid">
		<div class="row center-xs middle-xs title">
			<div class="tac">
				<h1>Hello, je suis <span>Anthony Pilloud</span></h1>
				<h2>Développeur web full stack</h2>
			</div>
		</div>
	</header>
	
	<section id="about-me" class="ribs-container">
		<div class="row center-xs">
			<h2>A propos de moi</h2>
		</div>
		
		<div class="row center-md">
			<div class="cxs-12 cmd-4 cmd-offset-1">
				<img src="{{ asset('images/anthony-pilloud.jpg') }}" alt="Anthony Pilloud, photo de profil">
			</div>
			<div class="cxs-12 cmd-7">
				<p><strong>Anthony Pilloud développeur web en Franche-Comté</strong>, mon profil vous intéresse, vous
					trouverez dans la
					partie Portfolio, différents travaux réalisés au sein du département src[*]média de Montbéliard, mes
					expériences professionneles ainsi que mon temps libre. Ces projets ont été élaborés avec
					l'utilisation des languages <strong>HTML5 / CSS3 / SCSS / jQuery / PHP</strong>.
				</p>
				
				<p>Vous pouvez <strong>télécharger mon CV</strong> pour en <strong>apprendre plus sur mes formations et
						expériences professionnelles</strong>.</p>
				
				<a href="" class="main-button">Visionner mon CV</a>
			</div>
		</div>
	</section>
	
	<section id="skills" class="ribs-container">
		<div class="row center-xs">
			<h2>Mes compétences</h2>
		</div>
		
		<div class="row between-xs middle-xs">
			<div>
				<img src="{{ asset('images/html5.png') }}" alt="logo html5">
			</div>
			<div>
				<img src="{{ asset('images/google-home.png') }}" alt="Logo Google Home">
			</div>
			<div>
				<img src="{{ asset('images/sass.png') }}" alt="logo Sass">
			</div>
			<div>
				<img src="{{ asset('images/php7.png') }}" alt="logo PHP7">
			</div>
		</div>
		<div class="row between-xs middle-xs">
			<div>
				<img src="{{ asset('images/mysql.png') }}" alt="logo MySQL">
			</div>
			<div>
				<img src="{{ asset('images/javascript.png') }}" alt="Logo Javascript">
			</div>
			<div>
				<img src="{{ asset('images/git.png') }}" alt="logo Git">
			</div>
			<div>
				<img src="{{ asset('images/webpack.png') }}" alt="logo Webpack">
			</div>
		</div>
		<div class="row between-xs middle-xs">
			<div>
				<img src="{{ asset('images/bootstrap.png') }}" alt="logo Bootstrap">
			</div>
			<div>
				<img src="{{ asset('images/foundation.png') }}" alt="Logo Foundation">
			</div>
			<div>
				<img src="{{ asset('images/symfony.png') }}" alt="logo Symfony">
			</div>
			<div>
				<img src="{{ asset('images/css3.png') }}" alt="logo Css3">
			</div>
		</div>
	</section>
	
	<section id="articles" class="ribs-container">
		<div class="row center-xs">
			<h2>Mes articles</h2>
		</div>
	</section>
{% endblock %}